* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #fefefe;
  color: #333;
}
.container {
  width: 70vw;
  margin: 10vh auto;
}

.title {
  text-align: center;
  padding: 10vh;
  margin: 0.8rem;
  color: #333;
  border-radius: 0.3rem;
  background-color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* box-shadow: 3px 3px 5px #333; */
}

h1 {
  margin: auto;
  padding-top: 1rem;
  font-size: 3rem;
  width: 50vw;
  background-color: #fefefe88;
}

h2 {
  margin: auto;
  width: 50vw;
  padding-bottom: 1rem;
  background-color: #fefefe88;
  font-size: 2rem;
  box-shadow: 3px 3px 5px #33333388;
}

h3 {
  text-align: justify;
  font-size: 1.4rem;
  padding: 3vh 0;
}

p{
  padding: 3vh 0;
  text-align: justify;

}
.para_img {
  width: 90%;
  height: 60vh;
}
ul {
  list-style: none;
  font-size: 1.2rem;

}
li {
  text-align: center;
  padding: 1rem;
}
